# Copyright (C) 2002-2018 CERN for the benefit of the ATLAS collaboration

# Private excludes can be found or put in .git/info/exclude
# PDF files in top-level directory
/*.pdf
/thesis/*.pdf
/graphics/*.pdf
/graphics/stats/profile_examples/*.pdf
/graphics/nsw/*.pdf
/graphics/nsw/elx_and_calibration/*.pdf
/potential_figures/
/graphics/stats/cls/*.pdf
/refs/
# PDF files produced by epstopdf
*-eps-converted-to.pdf

# Generic files to ignore
*.aux
*.bcf
*.bbl
*-blx.bib
*.blg
.*.lb
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.spl
*.synctex.gz
*.toc

# vim
*.swo
*.swp
*.swn
*.swm
*.swk

# random/misc
.DS_Store
*.key
